[submodule "arches_slocal/arches_slocal/media/js/media/js/map-plugin/map-plugin"]
	path = arches_slocal/arches_slocal/media/js/media/js/map-plugin/map-plugin
	url = https://gitlab.cenagis.edu.pl/uavgeolab/mare-nostrum/arches-map-plugin.git
[submodule "arches_slocal/arches_slocal/media/js/map-plugin"]
	path = arches_slocal/arches_slocal/media/js/map-plugin
	url = https://gitlab.cenagis.edu.pl/uavgeolab/mare-nostrum/arches-map-plugin.git
